build/NuGet.exe
packages/
bin/
obj/
output/
.idea/
MercurialExtensions/
Mercurial/
Downloads/
lib/
build/LfMerge.files
data/php/
data/testlangproj*/*.bak
debian/control
debian/rules
_ReSharper.LfMerge
*.suo
*.user
*.pdb
*.mdb
*.ulsx
*.userprefs
*.swp
*.iml
*~
