source https://www.nuget.org/api/v2
source https://api.nuget.org/v3/index.json

nuget NuGet.CommandLine
nuget Autofac 3.5.2 prerelease restriction: >= net45
nuget Autofac.Extras.Moq 4.0.0 prerelease restriction: >= net45
nuget Bugsnag 2.2.0 prerelease
nuget CommandLineParser 1.9.71 prerelease restriction: >= net45
nuget GitTools.Core restriction: >= net462
nuget icu.net 2.6.0 prerelease restriction: >= net462
nuget ini-parser 2.5.2 prerelease restriction: >= net462
nuget JetBrains.Annotations 10.4.0 prerelease restriction: >= net462
nuget LibGit2Sharp 0.26.0 prerelease restriction: >= net462
nuget LibGit2Sharp.NativeBinaries 2.0.267 prerelease restriction: >= net462
nuget Microsoft.CSharp 4.3.0 prerelease restriction: >= net462
nuget Microsoft.DotNet.PlatformAbstractions 2.0.4 prerelease restriction: >= net462
nuget Microsoft.Extensions.DependencyModel 2.0.4 prerelease restriction: >= net462
nuget MongoDB.Bson 2.2.1 prerelease restriction: >= net45
nuget MongoDB.Driver 2.2.1 prerelease restriction: >= net45
nuget MongoDB.Driver.Core 2.2.1 prerelease restriction: >= net45
nuget Moq 4.2.1510.2205 prerelease restriction: >= net45
nuget Newtonsoft.Json 11.0.2 prerelease restriction: >= net462
nuget NUnit 2.6.4 prerelease restriction: >= net45
nuget System.Dynamic.Runtime 4.3.0 prerelease restriction: >= net462
nuget System.Runtime.Serialization.Primitives 4.3.0 prerelease restriction: >= net462
nuget System.ValueTuple 4.5.0 prerelease restriction: >= net462
nuget UtilPack.NuGet.MSBuild 2.8.0 prerelease restriction: >= net462
nuget YamlDotNet 5.2.1 prerelease restriction: >= net462

nuget GitVersion.CommandLine
nuget BuildDependencyTasks 0.4.3
nuget NUnit.Runners.Net4 2.6.4
nuget MSBuildTasks 1.5.0.235
nuget SIL.BuildTasks 2.2.0

// [ FAKE GROUP ]
group Build
  source https://api.nuget.org/v3/index.json

  framework: netstandard2.0
  storage: none

  nuget Fake.Core.Target
  nuget Fake.Core.Process
  nuget Fake.DotNet.Cli
  nuget Fake.Core.ReleaseNotes
  nuget Fake.DotNet.AssemblyInfoFile
  nuget Fake.DotNet.Paket
  nuget Fake.Tools.Git
  nuget Fake.Core.Environment
  nuget Fake.Core.UserInput
  nuget Fake.IO.FileSystem
  nuget Fake.DotNet.MsBuild
  nuget Fake.Api.GitHub
  nuget System.Text.Json
