#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export XDG_CONFIG_HOME=$HOME/.config
export BUILD = Release
export MONO_PREFIX=/opt/mono-sil

DBVERSION = $(shell dpkg -l | grep lfmerge-fdo-[0-9] | sort -r | cut --characters=17-23)
DESTDIR   = debian/lfmerge
LIB       = usr/lib/lfmerge/$(DBVERSION)
SHARE     = usr/share/lfmerge/$(DBVERSION)

%:
	dh $@ --with=cli --parallel

override_dh_auto_configure:

override_dh_auto_build:
	. ./environ && \
		xbuild /p:Configuration=$(BUILD) /t:CompileOnly build/LfMerge.proj

override_dh_auto_test:

override_dh_auto_clean:
	. ./environ && \
		xbuild /p:Configuration=$(BUILD) /t:Clean build/LfMerge.proj
	dh_clean

override_dh_auto_install:
	# Install binaries
	install -d $(DESTDIR)/$(LIB)
	install -m 644 output/$(BUILD)/*.* $(DESTDIR)/$(LIB)
	install -m 755 output/$(BUILD)/chorusmerge $(DESTDIR)/$(LIB)
	install -d $(DESTDIR)/$(LIB)/Mercurial
	install -d $(DESTDIR)/$(LIB)/Mercurial/hgext
	install -d $(DESTDIR)/$(LIB)/Mercurial/hgext/convert
	install -d $(DESTDIR)/$(LIB)/Mercurial/hgext/highlight
	install -d $(DESTDIR)/$(LIB)/Mercurial/hgext/largefiles
	install -d $(DESTDIR)/$(LIB)/Mercurial/hgext/zeroconf
	install -d $(DESTDIR)/$(LIB)/Mercurial/mercurial
	install -d $(DESTDIR)/$(LIB)/Mercurial/mercurial/hgweb
	install -d $(DESTDIR)/$(LIB)/Mercurial/mercurial/httpclient
	install -d $(DESTDIR)/$(LIB)/MercurialExtensions
	install -d $(DESTDIR)/$(LIB)/MercurialExtensions/fixutf8
	install -m 755 Mercurial/hg $(DESTDIR)/$(LIB)/Mercurial
	install -m 644 Mercurial/mercurial.ini $(DESTDIR)/$(LIB)/Mercurial
	install -m 644 Mercurial/hgext/*.* $(DESTDIR)/$(LIB)/Mercurial/hgext
	install -m 644 Mercurial/hgext/convert/*.* $(DESTDIR)/$(LIB)/Mercurial/hgext/convert
	install -m 644 Mercurial/hgext/highlight/*.* $(DESTDIR)/$(LIB)/Mercurial/hgext/highlight
	install -m 644 Mercurial/hgext/largefiles/*.* $(DESTDIR)/$(LIB)/Mercurial/hgext/largefiles
	install -m 644 Mercurial/hgext/zeroconf/*.* $(DESTDIR)/$(LIB)/Mercurial/hgext/zeroconf
	install -m 644 Mercurial/mercurial/*.* $(DESTDIR)/$(LIB)/Mercurial/mercurial
	install -m 644 Mercurial/mercurial/hgweb/*.* $(DESTDIR)/$(LIB)/Mercurial/mercurial/hgweb
	install -m 644 Mercurial/mercurial/httpclient/*.* $(DESTDIR)/$(LIB)/Mercurial/mercurial/httpclient
	install -m 644 MercurialExtensions/fixutf8/*.* $(DESTDIR)/$(LIB)/MercurialExtensions/fixutf8
	# Apparently the downloaded mercurial.ini doesn't have the right fixutf8 config
	echo "fixutf8=/$(LIB)/MercurialExtensions/fixutf8/fixutf8.py" >> $(DESTDIR)/$(LIB)/Mercurial/mercurial.ini
	# Remove files that are also in lfmerge-fdo and unit test related files
	cd $(DESTDIR)/$(LIB) && \
		rm *.Tests.dll* *.TestApp.exe* Palaso.TestUtilities.dll* nunit.framework.dll *Moq.dll && \
		rm Autofac.dll* icu.net.dll* L10NSharp.dll* Palaso.*
	# Install environ file
	install -d $(DESTDIR)/$(SHARE)
	install -m 644 environ $(DESTDIR)/$(SHARE)
	install -d $(DESTDIR)/$(SHARE)/Mercurial/doc
	install -m 644 Mercurial/doc/*.* $(DESTDIR)/$(SHARE)/Mercurial/doc
	# Install wrapper script
	install -d $(DESTDIR)/usr/bin
	install -m 755 lfmerge $(DESTDIR)/usr/bin
	install -m 755 lfmergeqm $(DESTDIR)/usr/bin
	# Install conf file
	install -d $(DESTDIR)/etc/languageforge/conf
	install -m 644 debian/sendreceive.conf $(DESTDIR)/etc/languageforge/conf
	# Create working directories
	mkdir -p $(DESTDIR)/var/lib/languageforge/lexicon/sendreceive/state
	mkdir -p $(DESTDIR)/var/lib/languageforge/lexicon/sendreceive/webwork
	mkdir -p $(DESTDIR)/var/lib/languageforge/lexicon/sendreceive/mergequeue
	mkdir -p $(DESTDIR)/var/lib/languageforge/lexicon/sendreceive/commitqueue
	mkdir -p $(DESTDIR)/var/lib/languageforge/lexicon/sendreceive/receivequeue
	mkdir -p $(DESTDIR)/var/lib/languageforge/lexicon/sendreceive/sendqueue
	mkdir -p $(DESTDIR)/var/lib/languageforge/lexicon/sendreceive/webwork
	mkdir -p $(DESTDIR)/var/lib/languageforge/lexicon/sendreceive/Templates

# Don't export any assemblies to other packages
override_dh_makeclilibs:

# Include mono-sil in shlib dirs searched
override_dh_shlibdeps:
	dh_shlibdeps -l$(MONO_PREFIX)/lib

# Include mono-sil in cli dirs searched
override_dh_clideps:
	mkdir -p debian/tmp/usr && ln -s $(MONO_PREFIX)/* debian/tmp/usr/ && \
	PATH=$(MONO_PREFIX)/bin:$(PATH) \
	dh_clideps internal-mono  -l$(MONO_PREFIX)/lib \
		--exclude-moduleref=security.dll \
		--exclude-moduleref=icuuc57.dll --exclude-moduleref=icuin57.dll \
		--exclude-moduleref=icuuc56.dll --exclude-moduleref=icuin56.dll \
		--exclude-moduleref=icuuc55.dll --exclude-moduleref=icuin55.dll \
		--exclude-moduleref=icuuc54.dll --exclude-moduleref=icuin54.dll \
		--exclude-moduleref=icuuc52.dll --exclude-moduleref=icuin52.dll \
		--exclude-moduleref=icuuc48.dll --exclude-moduleref=icuin48.dll \
		--exclude-moduleref=libhunspell \
		--exclude-moduleref=libicuuc.so --exclude-moduleref=libicui18n.so

# Don't strip debug symbols -- we want them for informative crash stack traces
override_dh_strip:

override_dh_clistrip:
