#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export XDG_CONFIG_HOME=$HOME/.config
export BUILD = Release

DESTDIR = debian/lfmerge
LIB     = usr/lib/lfmerge
SHARE   = usr/share/lfmerge

%:
	dh $@ --with=cli --parallel

override_dh_auto_configure:

override_dh_auto_build:
	. ./environ && \
		mozroots --import --sync && \
		xbuild /p:Configuration=$(BUILD) /t:Build build/LfMerge.proj

override_dh_auto_test:

override_dh_auto_clean:
	. ./environ && \
		xbuild /p:Configuration=$(BUILD) /t:Clean build/LfMerge.proj
	dh_clean

override_dh_auto_install:
	# Install binaries
	install -d $(DESTDIR)/$(LIB)
	install -m 644 output/$(BUILD)/*.* $(DESTDIR)/$(LIB)
	cd $(DESTDIR)/$(LIB) && rm *.Tests.dll* *.TestApp.exe* SIL.TestUtilities.dll* nunit.framework.dll *Moq.dll
	# Install environ file
	install -d $(DESTDIR)/$(SHARE)
	install -m 644 environ $(DESTDIR)/$(SHARE)
	# Install wrapper script
	install -d $(DESTDIR)/usr/bin
	install -m 755 lfmerge $(DESTDIR)/usr/bin
	# Install conf file
	install -d $(DESTDIR)/etc/languageforge/conf
	install -m 644 debian/sendreceive.conf $(DESTDIR)/etc/languageforge/conf
	# Create working directories
	mkdir -p $(DESTDIR)/var/lib/languageforge/lexicon/sendreceive/state
	mkdir -p $(DESTDIR)/var/lib/languageforge/lexicon/sendreceive/webwork
	mkdir -p $(DESTDIR)/var/lib/languageforge/lexicon/sendreceive/mergequeue
	mkdir -p $(DESTDIR)/var/lib/languageforge/lexicon/sendreceive/commitqueue
	mkdir -p $(DESTDIR)/var/lib/languageforge/lexicon/sendreceive/receivequeue
	mkdir -p $(DESTDIR)/var/lib/languageforge/lexicon/sendreceive/sendqueue
	mkdir -p $(DESTDIR)/var/lib/languageforge/lexicon/sendreceive/ReleaseData
	mkdir -p $(DESTDIR)/var/lib/languageforge/lexicon/sendreceive/Templates

# Don't export any assemblies to other packages
override_dh_makeclilibs:

# Include mono-sil in shlib dirs searched
override_dh_shlibdeps:
	dh_shlibdeps -l$(MONO_PREFIX)/lib

# Include mono-sil in cli dirs searched
override_dh_clideps:
	dh_clideps -l$(MONO_PREFIX)/lib \
		--exclude-moduleref=security.dll \
		--exclude-moduleref=icuuc52.dll --exclude-moduleref=icuin52.dll \
		--exclude-moduleref=icuuc48.dll --exclude-moduleref=icuin48.dll

# Don't strip debug symbols -- we want them for informative crash stack traces
override_dh_strip:

override_dh_clistrip:
