<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net45" />
  <package id="Bugsnag" version="2.2.0" targetFramework="net45" />
  <package id="GitVersionTask" version="4.0.0" targetFramework="net462" developmentDependency="true" />
  <package id="icu.net" version="2.5.1" targetFramework="net462" />
  <package id="ini-parser" version="2.5.2" targetFramework="net462" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.0.4" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.0.4" targetFramework="net462" />
  <package id="MongoDB.Bson" version="2.2.1" targetFramework="net45" />
  <package id="MongoDB.Driver" version="2.2.1" targetFramework="net45" />
  <package id="MongoDB.Driver.Core" version="2.2.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="UtilPack.NuGet.MSBuild" version="2.8.0" targetFramework="net462" developmentDependency="true" />
</packages>